@import './base.css';
@import 'tailwindcss/base';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}
